@font-face {
  font-family: metropolis;
  src: url("/assets/font/Metropolis-Regular.otf");
}
body {
  background-color: #e5e5e5;
  font-family: metropolis;
}
nav {
  margin-left: -125px;
  margin-right: -125px;
  height: 75px;
  position: sticky;
  /* border: 1px solid red; */
}

.flex-1 {
  height: 60px;
  width: 300px;
  box-sizing: border-box;
}
.flex-1 .navbar-brand {
  position: relative;
  left: 110px;
  border-radius: nullpx;
  color: #db3022;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  padding-right: 50px;
}
.flex-2 {
  height: 60px;
  width: 650px;
  box-sizing: border-box;
}
.flex-2 input {
  height: 40px;
  width: 507px;
  background: #ffffff;
  border: 1px solid #8e8e93;
  border-radius: 23px;
  padding: 10px 20px;
}

.flex-3 {
  width: 300px;
  box-sizing: border-box;
  padding-left: 50px;
}

.flex-3 a {
  height: 15.000367164611816px;
  width: 22px;
  left: 1px;
  top: 1px;
  border-radius: 0px;
  padding-right: 20px;
}
.filter {
  position: relative;
  right: 31px;
}
.search-field {
  position: relative;
  left: 5px;
}

.cart-1 {
  position: relative;
  top: 5px;
}
.cart-2 {
  position: relative;
  top: 17px;
  right: 23px;
}
.cart-3 {
  position: relative;
  top: 17px;
  right: 21px;
}
.bell-1 {
  position: relative;
  left: 30px;
  top: 5px;
}
.bell-2 {
  position: relative;
  top: 17px;
  left: 12px;
}

.mail-1 {
  position: relative;
  top: 5px;
  left: 65px;
}
.mail-2 {
  width: 16px;
  position: relative;
  top: 3px;
  left: 40px;
}
.nav-profile {
  border-radius: 50%;
  position: relative;
  top: 5px;
  left: 90px;
}

aside {
  background-color: #ffffff;
  position: absolute;
  width: 350px;
  height: 800px;
  left: 0px;
  padding-left: 105px;
  padding-top: 50px;
  box-sizing: border-box;
}

.profile .img-profile {
  width: 90.55px;
  height: 70.55px;
  border-radius: 50%;
}

.profile h4 {
  position: relative;
  bottom: 65px;
  left: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}
.profile .vector {
  position: relative;
  bottom: 65px;
  left: 100px;
}
.profile p {
  position: relative;
  bottom: 88px;
  left: 120px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
/* aside .box-2 {
  position: relative;
  bottom: 350px;
} */
aside .box-3 {
  position: relative;
  bottom: 20px;
}
aside .box-1 h3 {
  position: relative;
  bottom: 25px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
}
aside .box-2 img {
  position: relative;
  left: 0px;
}
aside .box-2 h3 {
  position: relative;
  bottom: 25px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
aside .box-2 p {
  position: relative;
  /* bottom: 50px; */
  left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
aside .box-3 img {
  padding-top: 20px;
  position: relative;
  left: 0px;
}
aside .box-3 h3 {
  position: relative;
  bottom: 25px;
  left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}
main {
  width: 850px;
  height: 636px;
  position: absolute;
  left: 400px;
  top: 125px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
}

main h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

main h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

main .box-1 {
  position: relative;
  width: 120px;
  height: 400px;
  padding: 10px;
}
main .box-2 {
  position: relative;
  width: 480px;
  height: 400px;
  padding: 10px;
}
main .box-3 {
  width: 200px;
  height: 190px;
  padding: 10px;
  border-left: 1px solid #d4d4d4;
}
main .name {
  padding-top: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9b9b9b;
}

main .input-name {
  width: 348px;
  height: 48px;
  position: relative;
  top: 10px;
  left: 30px;
  border: 1px solid #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}

main .email {
  padding-top: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9b9b9b;
}

main .input-email {
  width: 348px;
  height: 48px;
  position: relative;
  top: 30px;
  left: 30px;
  border: 1px solid #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}

main .phone-number {
  padding-top: 35px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  color: #9b9b9b;
}

main .input-phone-number {
  width: 348px;
  height: 48px;
  position: relative;
  top: 50px;
  left: 30px;
  border: 1px solid #9b9b9b;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}

main .gender {
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9b9b9b;
}

main .radio-men {
  width: 18px;
  height: 18px;
  position: relative;
  top: 110px;
  right: 325px;
  border: 1px solid #9b9b9b;
}
main .label-radio-men {
  position: relative;
  top: 105px;
  right: 320px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

main .radio-women {
  width: 18px;
  height: 18px;
  position: relative;
  top: 110px;
  right: 295px;
  border: 1px solid #9b9b9b;
}
main .label-radio-women {
  position: relative;
  top: 61px;
  left: 175px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9b9b9b;
}

main .birth {
  padding-top: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #9b9b9b;
}

main .day {
  width: 100px;
  height: 40px;
  position: relative;
  top: 120px;
  right: 55px;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  color: #9b9b9b;
}

main .month {
  width: 100px;
  height: 40px;
  position: relative;
  top: 120px;
  right: 50px;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  color: #9b9b9b;
}

main .year {
  width: 100px;
  height: 40px;
  position: relative;
  top: 120px;
  right: 45px;
  background: #ffffff;
  border: 1px solid #9b9b9b;
  border-radius: 4px;
  color: #9b9b9b;
}

main .btn-save {
  width: 100px;
  height: 36px;
  position: relative;
  top: 160px;
  left: 30px;
  background: #db3022;
  border-radius: 25px;
  color: #ffffff;
  border: none;
}
main .img-my-profile {
  width: 166px;
  height: 111px;
  position: relative;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}
main .btn-select-image {
  width: 140px;
  height: 36px;
  position: relative;
  top: 25px;
  left: 20px;
  border: 1px solid #9b9b9b;
  border-radius: 24px;
  color: #9b9b9b;
}
